* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  margin: 0;
  font-family: 'Open Sans', Arial, sans-serif;
}

.jumbotron {
  background: 
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0)
    ),
    url(./img/beef.jpg);
  height: 100vh;
  background-size: cover;
}

nav {
  background-color: rgba(52, 58, 64, 0.5);
}

.nav-item {
  font-weight: 300;
  padding: 1rem 2rem;
}

.nav-link {
  padding: 1rem 2rem;
}

.search {
  width: 20px;
}

button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.display-1 {
  color: white;
  font-weight: 700;
  font-size: 4.5rem;
}

.lead {
  color: white;
}
